<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
<!--     <property name="connection.url">jdbc:mysql://zugo.user32.com/</property> -->
<!--     <property name="connection.username">Abd2014lszMtrzSW</property> -->
<!--     <property name="connection.password">Abd2014lszMtrzSW</property> -->
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <property name="hbm2ddl.auto">update</property> 
    <property name="connection.pool_size">1</property>
    <property name="current_session_context_class">thread</property>

	<mapping resource="Adres.hbm.xml"></mapping>
	<mapping resource="Dostawa.hbm.xml"></mapping>
	<mapping resource="Dostawca.hbm.xml"></mapping>
	<mapping resource="Firma.hbm.xml"></mapping>
	<mapping resource="Klient.hbm.xml"></mapping>
	<mapping resource="Kraj.hbm.xml"></mapping>
	<mapping resource="ListaProduktow.hbm.xml"></mapping>
	<mapping resource="Magazyn.hbm.xml"></mapping>
	<mapping resource="MagazynProdukt.hbm.xml"></mapping>
	<mapping resource="Osoba.hbm.xml"></mapping>
	<mapping resource="Produkt.hbm.xml"></mapping>
	<mapping resource="Punkt.hbm.xml"></mapping>
	<mapping resource="Sklep.hbm.xml"></mapping>
	<mapping resource="Zamowienie.hbm.xml"></mapping>
  </session-factory>
</hibernate-configuration>

